<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!--
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
	-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
	<title>app-task</title>
  </head>
  
  <body>
    <div class="login-container" >	
		<div class="login-content">
			
			<p class="text-center">
				INICIAR SESION
			</p>
			<form>
				<div class="form-group">
					<label for="email" class="bmd-label-floating"><i class="fas fa-user-secret"></i> &nbsp; Correo</label>
					<input type="email" class="form-control" id="email" name="email"  maxlength="30" placeholder="Ingrese su correo" required v-model="correo_usuario">
				</div>
				<div class="form-group">
					<label for="password" class="bmd-label-floating"><i class="fas fa-key"></i> &nbsp; Contraseña</label>
					<input type="password" class="form-control" id="password" name="password" maxlength="30" placeholder="ingrese su contraseña" required v-model="pass_usuario">
				</div>

				<!--
				<div class="form-group">
					<label for="rolList" class="form-label">&nbsp; SELECCIONA TU ROL</label>
					<input class="form-control" list="datalistOptions" id="rolList"  required v-model="user_rol">
					<datalist id="datalistOptions">
  						<option value="Administrador">
  						<option value="Empleado">
					</datalist>
				</div>
				<button value="Login" @click="login();" class="btn-login text-center">Login</button>
				-->
				<a href="admin.html" class="btn-login text-center">Login</a>
				
				
			</form>
			<br>
			<p class="text-center">
				<a href="index.html">Empleado</a>
			</p>
			
		</div>
	</div>
	
	
  </body>	
</html>